<div class='card1'>
  <h4> <b><%= role['org_name'] %></b> </h4>
  <h3> <b><%= role['title'] %></b> </h3>
  <h4> <%= role['desc'] %> </h4>

  <p>
  <%= role['city'] %>, <%= role['address'] %>
  </p>
</div>